mixin project-item(title, categories, image, content, link, show)
    .project__item
        .row
            .col-lg-7
                .project__img 
                    img(src=image, alt="")
            .col-lg-5
                .project__info
                    h3.project__title
                        | #{title} 
                    .project__categories 
                        each cat in categories
                            p.project__cat #{cat}

                    .project__content
                        each item in content
                            p #{item}

                    a.btn.project__btn(href=link) Перейти на сайт